@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #393e46;
    height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main-heading ,.fa{
    color: #00adb5;
    font-family: 'Quicksand', sans-serif;
    font-size: 24vh;
    text-align: center;
    position: relative;
    /* top:50px; */
    
}

@media only screen and (max-width: 600px) {
    .main-heading, .fa {
        
        font-size: 10vw;
    }
    
}
  
